<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnifiedPost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UnifiedPost.Properties.Settings>
            <setting name="welcomemsg" serializeAs="String">
                <value>UnifiedPost</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="uname" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="datasrc" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="hostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="autoclr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="luna_ant" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </UnifiedPost.Properties.Settings>
    </userSettings>
</configuration>